.form-control {
  display: flex;
  gap: 4px;
  flex-direction: column;
  input {
    padding: 8px;
  }
  .invalid-input {
    border: 1px solid red;
  }
  .invalid-message p {
    color: red;
    margin: 0;
  }
}
