<div class="container">
  <div class="form-container">
    <app-text-input
      label="First Name"
      [control]="getControl('first_name')"
      placeholder="Input first name"
      type="text"
    ></app-text-input>
    <app-text-input
      label="Last Name"
      [control]="getControl('last_name')"
      placeholder="Input last name"
      type="text"
    ></app-text-input>
    <app-text-input
      label="Email"
      [control]="getControl('email')"
      placeholder="Input email"
      type="email"
    ></app-text-input>
    <!-- {{ createForm.value | json }} -->

    <button class="submit-btn" (click)="onSubmit()" type="submit">Thêm</button>
  </div>
</div>
